<div class="card bg-light new-comment">
    <div class="card-body">
      <p class="font-weight-bold">Deja tu comentario:</p>
      <%= form_for @event.comments.build do |f| %>
        <%= f.hidden_field :event_id, value: @event.id %>
        <div class="form-group">
          <%= f.text_area :body, rows: 4, class: "form-control" %>
        </div>

        <div class="text-right">
          <%= f.submit "Comentar", class: "btn btn-primary" %>
        </div>
      <% end %>
    </div>
  </div>
<br>
<br>
<% @event.comments.each do |comment| %>
  <br>
  <div class="card-comment">
    <div class="card">
      <div class="card-header">
        <%= image_tag ('user'), class: "img-fluid" %>
      </div>
      <div class="card-body">
        <p><%= comment.body %></p>                    
      </div>       
    </div>
    <br>
  </div>
<% end %>
<br>